.main-container {
  background-color: #59981a;
  height: 100vh;
  padding-top: 2%;
}

.main-card {
  background-color: white;
  width: 20%;
  margin: auto;
  height: 60%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.main-card div {
  flex-grow: 1;
  font-weight: bold;
  font-size: 50px;
}

.red-simbol {
  color: red;
}
